body {
    padding: 0;
    margin: 0;
    font-family: Roboto,Arial,sans-serif;
}
input[type="radio"] {
    margin-right: 5px;
}
.payment-container {
    padding: 20px;
}

.payment-options__header {
    background-color: #2874f0;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 24px;
    border-radius: 2px 2px 0 0;
}

.continue-button {
    margin: 10px 0;
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    color: #fff;
    padding: 10px 60px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}
.accordion-button::after {
    display: none;
}
.price-details {
    margin-bottom: 30px;
}
.price-details__header {
    font-size: 16px;
    text-transform: uppercase;
    padding: 13px 24px;
    font-weight: 500;
    color: #878787;
    min-height: 47px;
    border-bottom: 1px solid #f0f0f0;
}
.price-details__content {
    padding: 0 24px;
}
.price-details__breakup > div {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.price-details__footer {
    font-weight: 500;
    font-size: 18px;
    border-top: 1px dashed #e0e0e0;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.offer_price {
    color: green;
}
